<?xml version="1.0"?>
<launch>
  <group ns="mynteye_head">
	  <node name="scaffold_mynteye_wrapper" pkg="mynt_eye_ros_wrapper" type="scaffold_mynteye_wrapper" output="screen" respawn="true" respawn_delay="5">
		<param name="serial_number" type="string" value="00D325030009072C" />
	  </node>
  </group>
  <group ns="mynteye_cabin">
	  <node name="scaffold_mynteye_wrapper" pkg="mynt_eye_ros_wrapper" type="scaffold_mynteye_wrapper" output="screen" respawn="true" respawn_delay="5">
		<param name="serial_number" type="string" value="02811A1200090807" />
	  </node>
  </group>
</launch>
